/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f5;
}

.dashboard-container {
    display:flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #0a044c;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #34495e;
    padding-left: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-basis: 30%;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

.employee-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.employee-list th, .employee-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.employee-list th {
    background-color: #f4f4f4;
}
